<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- <meta content="viewport-fit=cover"> -->
    <title>TEST</title>
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/weui.css">
    <style>
        [v-clock] {
            display: none;
        }
    </style>
</head>

<body>
    <div class="index_page" id="index-box" v-clock>
        <div class="music" @click="operMusic">
            <img src="./images/music.png" v-if="music" alt="">
            <img src="./images/music_CLOSE.png" v-else alt="">
			<audio style="display:none" src="./images/5018.mp3" id="music_id"  controls="controls" loop></audio>
		</div>
        <div id="slide01" class="tab">
            <ul class="content">
                <li class="page1" id="page1">
                    <div style="position:relative">
                        <img src="./images/bg.jpg" alt="">
                        <img src="./images/title.png " class="title zoomIn" alt="">
                        <img src="./images/cloudy3.png" class="cloudy3 cloudy" alt="">
                        <img src="./images/man_3.png" class="man3 fadeInRight" alt="">
                        <img src="./images/cloudy2.png" class="cloudy2 cloudy" alt="">
                        <img src="./images/man_2.png" class="man2 fadeInLeft" alt="">
                        <img src="./images/cloudy1.png" class="cloudy1 cloudy" alt="">
                        <img src="./images/man_1.png" class="man1 zoomIn" alt="">
                        <div class="rule fadeInUp">
                            <img src="./images/rule.png" alt="">
                            <div class="lineBox">
                                <img class="line bounceAnimate" src="./images/scan_line.png" alt="">
                            </div>
                        </div>
                        <img src="./images/copyright.png" alt="" class="copyright fadeInUp">
                        
                    </div>
                    <img class="down overPage" src="./images/down.png" alt="">
                </li>
                <li>
                    <div style="position: relative;">
                        <img src="./images/page2.jpg" alt="" id="page2">
                        <div class="letter sign_page_scrollBody">
                            <h3>亲爱的同学们、家长们：</h3>
                            <p>盼望着，盼望着，暑假的脚步近了，旅游、探亲、上兴趣班……暑假计划是否已经安排好了呢？这个夏天，你可以过个不一样的暑假！2018年3月11日，十三届全国人大一次会议第三次全体会议通过了《中华人民共和国宪法修正案》。宪法是国家的根本法，是治国安邦的总章程，是公民权利的保障书，宪法与我们每个人都息息相关。这个暑假，我们倡议，同学们可以和爸爸妈妈一起学习宪法，共同阅读《中华人民共和国宪法》原文，并以文字或图画的盼望着，盼望着，暑假的脚步近了，旅游、探亲、上兴趣班……暑假计划是否已经安排好了呢？这个夏天，你可以过个不一样的暑假！2018年3月11日，十三届全国人大一次会议第三次全体会议通过了《中华人民共和国宪法修正案》。宪法是国家的根本法，是治国安邦的总章程，是公民权利的保障书，宪法与我们每个人都息息相关。这个暑假，我们倡议，同学们可以和爸爸妈妈一起学习宪法，共同阅读《中华人民共和国宪法》原文，并以文字或图画的
                            </p>
                        </div>
                        <span class="btn" @click="joinHandle"></span>
                    </div>
                </li>
            </ul>
        </div>
        <div class="page3">
            <div style="position: relative;">
                <img src="./images/page3.jpg" alt="">
                <div class="select select1">
                        <h3 @click="organizeState = true">{{Organize[orgIndex]}}</h3>
                        <dl v-show="organizeState">
                            <dt @click="orgIndex = index;organizeState=false" :class="[orgIndex == index ? 'active':'']" v-for="(item,index) in Organize">{{item}}</dt>
                        </dl>
                    </div>
                    <div class="select select2">
                        <h3 @click="typeState = true">{{Type[typeIndx]}}</h3>
                        <dl v-show="typeState">
                            <dt @click="typeIndx = index;typeState=false" :class="[typeIndx == index ? 'active':'']" v-for="(item,index) in Type">{{item}}</dt>
                        </dl>
                    </div>
                    <div class="showArea" v-show="typeIndx == 0">
                        <div class="contain">
                            <textarea v-model="uploadTxt" placeholder="文字限制在300字以内"></textarea>
                        </div>
                        <img class="line" src="./images/line.png" alt="">
                    </div>
                    <div class="showArea" v-show="typeIndx == 1">
                        <input class="file" type="file" id="file" name="file1" accept="image/*" > <!--multiple-->
                       <!--  <input class="file" type="file" name="file2" accept="image/*">
                        <input class="file" type="file" name="file3" accept="image/*"> -->
                        <div class="flexBox">
                            <span v-for="(item,index) in uploadImg" :key="index">
                                <img :src="item" alt="">
                                <b class="close" @click="deleteImg(item)">
                                    <img src="./images/close.png" alt="">
                                </b>
                            </span>
                            <!-- <span>
                                <img src="./images/page2.jpg" alt="">
                                <b class="close">
                                    <img src="./images/close.png" alt="">
                                </b>                               
                            </span> -->
                            <span class="add" @click="selectImg" v-if="uploadImg.length < 3">
                                <img src="./images/add.png" alt="">
                            </span>
                            
                        </div>
                        <div class="tip">可选择1-3张</div>
                    </div>
                    <span class="btn" @click="finishHandle">
                        <img src="./images/finish_btn.png" alt="">
                    </span>
            </div>
            
        </div>
        <div class="page4">
            <div style="position: relative;">
                <img src="./images/page4.jpg" alt="">
                <input class="input input1" type="text" v-model="name" placeholder="请输入姓名">
                <input class="input input2" type="text" v-model="schoolName" placeholder="请输入学校名称">
                <input class="input input3" type="text" v-model="className" placeholder="请输入学生班级">
                
                <input class="input input4" type="text" v-model="address" placeholder="请输入学号">
                <input class="input input5" type="text" v-model="mobile" placeholder="请输入联系电话">
                <span class="btn" @click="submitHandle">
                    <img src="./images/submit_btn.png" alt="">
                </span>
            </div>
            
        </div>
        <div class="page5" style="display: block;">
            <div style="position: relative;">
                <img src="./images/page5_1.jpg" alt="">
                <div class="canvas">
                    <canvas id="canvas" :width="this.W*2" :height="this.H*2" :style="'width:'+this.W+'px;height:'+this.H+'px'">
                        <!--width="320" height="180" style="width:160px;height:90px;"-->
                        当前浏览器不支持canvas
                    </canvas>
                </div>
                <!-- <span class="btn">
                    <img src="./images/save.png" alt="">
                </span> -->
            </div>
            
        </div>
        <!-- 加载中 -->
        <div id="loadingToast" v-show="loading.status">
            <div class="weui-mask_transparent"></div>
            <div class="weui-toast">
                <i class="weui-loading weui-icon_toast"></i>
                <p class="weui-toast__content" v-html="loading.txt"></p>
            </div>
        </div>
        <!--按钮提示框-->
        <!--BEGIN dialog2-->
        <div class="js_dialog" id="iosDialog2" v-show="dialog.status">
            <div class="weui-mask"></div>
            <div class="weui-dialog">
                <div class="weui-dialog__bd">{{dialog.txt}}</div>
                <div class="weui-dialog__ft">
                    <a href="javascript:;" class="weui-dialog__btn weui-dialog__btn_primary" @click="dialog.status = false">知道了</a>
                </div>
            </div>
        </div>
        <!-- 提示框，1000消失 -->
        <div class="tipBox" v-show="alert.status">
            <div class="tibBox_inner">
                <p v-html="alert.txt"></p>
            </div>
        </div>
    </div>

    <script src="js/zepto.min.js"></script>
    <script type="text/javascript">
        var basep = "images/", //图片目录
            preLoadSource = [ //背景资源
                basep + "add.png",
                basep + "bg.jpg",
                basep + "cert.png",
                basep + "cert1.png",
                basep + "cert2.png",
                basep + "close.png",
                basep + "cloudy1.png",
                basep + "cloudy2.png",
                basep + "cloudy3.png",
                basep + "copyright.png",
                basep + "finish_btn.png",
                basep + "join_on.png",
                basep + "line.png",
                basep + "man_1.png",
                basep + "man_2.png",
                basep + "man_3.png",
                basep + "page2.jpg",
                basep + "page3.jpg",
                basep + "page4.jpg",
                basep + "page5_1.jpg",
                basep + "pic.png",
                basep + "rule.png",
                basep + "save.png",
                basep + "scan_line.png",
                basep + "submit_btn.png",
                basep + "title.png",
            ];
    </script>
    <!-- <script src="js/loading.js"></script> -->
    <script src="js/vue.min.js"></script>
    <script>
        //加载资源数组必须在loading之前进行配置
        $(function () {
            new Vue({
                el: "#index-box",
                data: {
                    name:'asdfa',
                    schoolName:'sdfas',
                    className:'asdfas',
                    mobile:'18825036985',
                    address:'asda',
                    scrollPage: null,        //pageslide对象
                    organizeState: false,    
                    Organize: ["家庭", "个人"],
                    orgIndex: 0,
                    Type: ["文本", "图片"],
                    typeState: false,
                    typeIndx:0,
                    uploadTxt:'aaaaaaa',     //文字内容
                    uploadImg:[],     //图片
                    loading: {        //加载中弹框
                        status: false,
                        txt: '加载中...'
                    },
                    dialog: {    //带按钮提示框
                        status: false,
                        txt: '这里是提示内容'
                    },
                    alert: {     //提示自动消失框
                        status: false,
                        txt: '这里是提示内容'
                    },
                    W: '',
                    H: '',
                    canvasUrl: '',

                    URL:{
                        getInfo:'getInfo',                    //获取信息
                        uploadFile:'uploadFile',              //上传图片
                        submitWorks:'submitWorks',            //提交作品
                        submitData:'submitData',              //提交资料
                    },
                    is_complete:'',                           //是否生成过 1为已生成，0为未生成
                    stor:'',                                  //第几号
                    name:'',                                  //姓名
                    join_type:'',                             //参加类型 1-家庭 2个人
                    music:true,

                },
                methods: {
                    operMusic:function(){
                        this.music = this.music == true ? false : true;
                        var music_id = document.getElementById('music_id');
                        if(this.music){                           
                            music_id.play();
                        }else{
                            music_id.pause();
                        }
                    },
                    //进入页面，获取信息
                    getInfoHandle:function(){
                        var This = this;
                        This.loading.status = true;
                        This.loading.txt = '加载中...';

                        //测试********************************************
                        var res = {
                            status:0,
                            is_complete:1,
                            stor:'11111111',
                            name:'小妮子',
                            join_type:1,
                            school:'广东轻工',
                        }
                        setTimeout(function(){
                            This.loading.status = false;
                            This.loading.txt = '';
                            if(res.status == 0){
                                This.is_complete=res.is_complete;
                                This.stor = res.stor;
                                This.name = res.name;
                                This.schoolName = res.name ? res.name : '';
                                This.join_type = res.join_type;
                                This.orgIndex = res.join_type ? res.join_type-1 : 0;
                            }else{
                                This.alertHandle(res.msg)
                            }
                        },1500)
                        return;
                        //测试end*******************************************

                        $.ajax({
                            url:this.URL['getInfo'],
                            dataType: 'json',
                            type: 'get',
                            data: {},
                            async: true,
                            success: function (res) {
                                This.loading.status = false;
                                This.loading.txt = '';
                                if(res.status == 0){
                                    This.is_complete=res.is_complete;
                                    This.stor = res.stor;
                                    // This.name = res.name;
                                    This.schoolName = res.name ? res.name : '';
                                    // This.join_type = res.join_type;
                                    This.orgIndex = res.join_type ? res.join_type-1 : 0;
                                }else{
                                    This.alertHandle(res.msg)
                                }
                            },
                            error: function (XMLHttpRequest, textStatus, errorThrown) {
                                this.alertHandle('服务出错了')
                                console.log(XMLHttpRequest)
                            }
                        })
                    },
                    //删除图片
                    deleteImg:function(item){
                        this.uploadImg = this.uploadImg.filter(function(val){
                            return val != item;
                        })
                    },
                    //选择图片
                    selectImg:function(){
                        var This = this;
                        $('#file').val('');
                        $('#file').click();
                        $('#file').unbind().on('change',function(){

                            //测试*********************************************
                            This.uploadFile('abc');
                            return;
                            //测试end******************************************

                            
                            var FileObj = $('#file')[0].files[0];
                            if(!FileObj){
                                return false;
                            }
                            This.uploadFile(fileObj)
                        })
                    },
                    //上传图片
                    uploadFile:function(fileObj){
                        var This = this;


                        //测试*********************************
                        this.loading.status = true;
                        this.loading.txt = '上传中...';
                        var res = {
                            status:0,
                            msg:'',
                            url:['./images/pic.png','./images/man_2.png','./images/man_3.png'],
                        }
                        setTimeout(function(){
                            This.loading.status = false;
                            This.loading.txt = '';
                            This.uploadImg.push(res.url[This.uploadImg.length]);
                        },1500);
                        return;
                        //测试end*******************************************

                        
                        var formData = new FormData();
                        formData.append('file',fileObj);
                        this.loading.status = true;
                        this.loading.txt = '上传中...';
                        $.ajax({
                            url: this.URL['uploadImg'],
                            dataType: 'json',
                            type: 'post',
                            // headers: {'Content-Type': 'image/jpeg'},
                            processData: false,
                            contentType: false,
                            cache: false,
                            data: formData,
                            success:function(res){
                                This.loading.status = false;
                                This.loading.txt = '';
                                if(res.status == 0){
                                    This.uploadImg.push(res.url);
                                }else{
                                    This.alertHandle(res.msg);
                                }
                            }

                        })
                    },
                    //提交个人信息
                    submitHandle:function(){
                        var This = this;
                        if(!this.name || !this.schoolName || !this.className || !this.mobile || !this.address){
                            this.alertHandle("信息不完整");
                            return;
                        }
                        if(!this.isPhone(this.mobile)){
                            this.alertHandle("手机号码格式不正确");
                            return;
                        }
                        this.loading.status = true;
                        this.loading.txt = '提交中...';


                        //测试*****************************************
                        var res = {
                            status:0,
                            msg:"提交成功",
                            stor:'10'
                        }
                        setTimeout(function(){
                            This.loading.status = false;
                            This.loading.txt = '';
                            if(res.status == 0){
                                This.alertHandle("提交完成");
                                This.stor = res.stor;
                                setTimeout(function(){
                                    $("#page4").hide();
                                    $('.page5').show();
                                    This.W = $('.canvas').width();
                                    This.H = $('.canvas').height();
                                    This.drawCanvas();
                                },1500)
                            }else{
                                This.alertHandle(res.msg)
                            }
                        },1500)
                        return;
                        //测试end********************************************

                        $.ajax({
                            url:this.URL['submitData'],
                            dataType: 'json',
                            type: 'post',
                            data: {
                                name:this.name,
                                school:this.schoolName,
                                class_room:this.className,
                                student_id:this.address,
                                mobile:this.mobile
                            },
                            async: true,
                            success: function (res) {
                                This.loading.status = false;
                                This.loading.txt = '';
                                if(res.status == 0){
                                    This.alertHandle("提交完成");
                                    
                                    setTimeout(function(){
                                        $("#page4").hide();
                                        $('.page5').show();
                                        This.W = $('.canvas').width();
                                        This.H = $('.canvas').height();
                                        This.drawCanvas();
                                    },1500)
                                }else{
                                    This.alertHandle(res.msg)
                                }
                            },
                            error: function (XMLHttpRequest, textStatus, errorThrown) {
                                This.alertHandle('服务出错了')
                                console.log(XMLHttpRequest)
                            }
                        })
                    },
                    //上传图片或文字 完成
                    finishHandle:function(){
                        var content = '';
                        var This = this;
                        if(this.typeIndx == 0){  //上传文字
                            if(!this.uploadTxt){
                                this.alertHandle("请输入文字");
                                return;
                            }
                            if(this.uploadTxt.length > 300){
                                this.alertHandle("文字内容不能超过300字");
                                return;
                            }

                            content = this.uploadTxt;
                        }else{ //上传图片
                            if(this.uploadImg.length == 0){
                                this.alertHandle("请上传图片");
                                return;
                            }
                            content = this.uploadImg.map(function(item,index){
                                return{
                                    index:item
                                }
                            });
                            console.log(content)
                            content = JSON.stringify(content)
                            console.log(content)
                        }
                        This.loading.status = true;
                        This.loading.txt = '提交中...';


                        //测试***********************************************
                        var res = {
                            status:0,
                            msg:''
                        }
                        setTimeout(function(){
                            This.loading.status = false;
                            This.loading.txt = '';
                            if(res.status == 0){
                                This.alertHandle("上传完成");
                                setTimeout(function(){
                                    $("#page3").hide();
                                    $('.page4').show();
                                },1500)
                            }else{
                                This.alertHandle(res.msg)
                            }
                        },1500)
                        return;
                        //测试end**********************************************

                        $.ajax({
                            url:this.URL['submitWorks'],
                            dataType: 'json',
                            type: 'post',
                            data: {
                                join_type:this.orgIndex+1,
                                opus_type:this.typeIndx+1,
                                content:content
                            },
                            async: true,
                            success: function (res) {
                                This.loading.status = false;
                                This.loading.txt = '';
                                if(res.status == 0){
                                    This.alertHandle("上传完成");
                                    setTimeout(function(){
                                        $("#page3").hide();
                                        $('.page4').show();
                                    },1500)
                                }else{
                                    This.alertHandle(res.msg)
                                }
                            },
                            error: function (XMLHttpRequest, textStatus, errorThrown) {
                                This.alertHandle('服务出错了')
                                console.log(XMLHttpRequest)
                            }
                        })
                        
                    },
                    //点击立即参加
                    joinHandle:function(){
                        var This = this;
                        $("#slide01").hide();
                        if(this.is_complete){
                            $('.page5').show();
                            This.W = $('.canvas').width();
                            This.H = $('.canvas').height();
                            This.drawCanvas();
                        }else{
                            $('.page3').show();
                        }
                    },
                    //图片合成
                    drawCanvas:function() {
                        var This = this;
                        var cvs = document.getElementById("canvas");
                        var w = $('.canvas').width();
                        var h = $('.canvas').height();

                        This.orgIndex = 1;
                        This.stor = '100';
                        This.schoolName = '广轻';
                        This.name='小妮子';

                        //创建image对象
                        var imgObj = new Image();
                        var imgUrl = This.orgIndex == 0 ? './images/cert1.png' : './images/cert2.png'
                        imgObj.src = imgUrl;
                        //待图片加载完后，将其显示在canvas上
                        imgObj.onload = function () {
                            var ctx = cvs.getContext('2d');
                            var Font = Number(This.W) / 13;
                            var num = '78974';
                            // var Txt1 = This.orgIndex == 0 ? '祝贺你们一家成为广东第' + This.stor + '个' : '祝贺你成为广东第' + This.stor + '个';
                            var Txt1 = This.orgIndex == 0 ? '祝贺你们一家成为广东第': '祝贺你成为广东第';
                            // var Txt2 = '个';
                            var Title = This.orgIndex == 0 ? This.stor+'个学法好家庭': This.stor+'个学法好标兵';
                            // var endTxt = This.orgIndex == 0 ? '希望你们多多推广，让更多家庭成为“学法好家庭”':'希望你多多推广，让更多人成为“学法好标兵”'
                            var endTxt = '快和你的小伙伴一起分享这份喜悦和荣誉吧！';

                            ctx.drawImage(this, 0, 0, This.W * 2, This.H * 2);//this即是imgObj,保持图片的原始大小：470*480
                            ctx.font = Font + "px 隶书";
                            ctx.fillStyle = "#613b31";
                            ctx.fillText(This.schoolName+"-"+This.name+"同学：", This.W / 6.5, This.H / 1.3);
                            
                            ctx.fillText(Txt1, This.W / 4, This.H / 1.1);

                            ctx.fillStyle = "#ad1815";
                            ctx.font = Font + "px 隶书";
                            
                            if(This.orgIndex == 0){
                                ctx.fillText(Title, This.W *1.1, This.H / 1.1);
                            }else{
                                ctx.fillText(Title, This.W * 0.88, This.H / 1.1);
                            }
                            
                            ctx.fillStyle = "#613b31";
                            ctx.fillText(endTxt, This.W / 4, This.H / 0.95);
                            ctx.font ='bold '+ Font*0.9 + "px 隶书";
                            ctx.fillText('2015-05-08',This.W*1.49,This.H*1.88);
                            This.convertCanvasToImage(cvs);
                        }
                    },
                    convertCanvasToImage:function(canvas) {
                        var image = new Image();
                        image.src = canvas.toDataURL("image/png")
                        $('.canvas').append(image);
                    },
                    isPhone:function(str) {  //判断是否是正确的手机
                        if(typeof str === 'number'){
                            str = str.toString();
                        }
                        return /^0?1[3|4|5|7|8][0-9]\d{8}$/.test(str);
                    },
                    alertHandle:function(msg){
                        var This = this;
                        this.alert.status = true;
                        this.alert.txt = msg;
                        setTimeout(function(){
                            This.alert.status = false;
                            This.alert.txt = '';
                        },1500)
                    }
                },
                mounted: function () {
                    var This = this;
                    this.scrollPage = new mo.PageSlide({
                        target: $('#slide01 .content li'),
                        playTo: 0,
                        touchMove: false
                    });
                    setTimeout(function(){
                        This.scrollPage.playTo(1)
                    },10000)
                    
                    var music_id = document.getElementById('music_id');
                    music_id.play();

                    //获取个人信息
                    // this.getInfoHandle();
                    This.W = $('.canvas').width();
                    This.H = $('.canvas').height();
                    this.drawCanvas();

                    //滑动事件
                    var PAGEY = 0;
                    var MOVE = 0 ;
                    var PAGEY2 = 0;
                    var MOVE2 = 0;
                    var obj = document.getElementById('page1');
                    var obj2 = document.getElementById('page2');

                    obj.addEventListener('touchstart',function(event){
                        // event.preventDefault();
                        var touch = event.targetTouches[0];
                        PAGEY = touch.pageY;
                    })
                    obj.addEventListener('touchmove', function(event) {

                        // 如果这个元素的位置内只有一个手指的话
                        if (event.targetTouches.length == 1) {
                        // 　event.preventDefault();// 阻止浏览器默认事件，重要 
                            var touch = event.targetTouches[0];
                            MOVE = touch.pageY;
                            }
                    }, false);
                    obj.addEventListener('touchend',function(event){
                        var DixY = PAGEY - MOVE;
                        if(DixY > 50){
                            This.scrollPage.playTo(1)
                        }
                    })

                    obj2.addEventListener('touchstart',function(event){
                        // event.preventDefault();
                        var touch = event.targetTouches[0];
                        PAGEY2 = touch.pageY;
                    })
                    obj2.addEventListener('touchmove', function(event) {

                        // 如果这个元素的位置内只有一个手指的话
                        if (event.targetTouches.length == 1) {
                        // 　event.preventDefault();// 阻止浏览器默认事件，重要 
                            var touch = event.targetTouches[0];
                            MOVE2 = touch.pageY;
                            }
                    }, false);
                    obj2.addEventListener('touchend',function(event){
                        var DixY = PAGEY2 - MOVE2;
                        if(DixY < 0){
                            This.scrollPage.playTo(0)
                        }
                    })
                }
            })
        })
    </script>

</body>

</html>